/*==================
 ERROR PAGE
====================*/
#mu-error {
    display: inline;
    float:inline-end;
    padding: 100px 100px;    
    width: 100%;
    
  }
  #mu-error .mu-error-area {
    display:block;
    float: right;
    width: 100%;
    text-align: center;
  }
  #mu-error .mu-error-area p {
    font-size: 30px;
  }
  #mu-error .mu-error-area h2 {
    font-size: 200px;
    line-height: 1.7;
  }

  a:hover{
    color: #07456b;
  }