<!-- Footer Start -->
<div class="container-fluid footer text-white px-sm-3 px-md-5">
    <div class="row pt-5">
        <div class="col-lg-4 col-md-5 mb-3 flex-column justify-content-start">
            <a href="" class="navbar-brand font-weight-bold text-primary m-0 mb-4 p-0">
                <span>
                    <h3>
                        <span style="color: #e8d943">Cham</span>
                        International
                    </h3>
                    <h3>Virtual School</h3>
                </span>
            </a>
            <p>Labore dolor amet ipsum ea, erat sit ipsum duo eos. Volup amet ea dolor et magna dolor, elitr rebum duo
                est sed diam elitr. Stet elitr stet diam duo eos rebum ipsum diam ipsum elitr.</p>
            <div class="d-flex justify-content-start mt-4 icons">
                <a class="btn btn-outline-warning rounded-circle text-center mr-1 px-1 icon"
                    style="width: 38px; height: 38px; color: #07456b; background-color: #e8d943;" href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                <a class="btn btn-outline-warning rounded-circle text-center mr-1 px-1 icon"
                    style="width: 38px; height: 38px; color: #07456b; background-color: #e8d943;" href="#" target="_blank"><i class="fa fa-youtube fa-lg"></i></a>
                <a class="btn btn-outline-warning rounded-circle text-center mr-1 px-1 icon"
                    style="width: 38px; height: 38px; color: #07456b; background-color: #e8d943;" href="https://www.facebook.com/profile.php?id=100091546065413"
                    target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                <a class="btn btn-outline-warning rounded-circle text-center mr-1 px-1 icon"
                    style="width: 38px; height: 38px; color: #07456b; background-color: #e8d943;" href="#" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                <a class="btn btn-outline-warning rounded-circle text-center mr-1 px-1 icon"
                    style="width: 38px; height: 38px; color: #07456b; background-color: #e8d943;" href="https://instagram.com/chamvirtual?igshid=YmMyMTA2M2Y="
                    target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
                <a class="btn btn-outline-warning rounded-circle text-center mr-1 px-1 icon"
                    style="width: 38px; height: 38px; color: #07456b; background-color: #e8d943;" href="#" target="_blank"><i class="fa fa-whatsapp fa-lg"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <h4 class="text-white mb-4">Get In Touch</h4>
            <div class="d-flex">
                <h4 class="fa fa-address-card fa-lg text-white pt-1">&nbsp;</h4>
                <div class="pl-3">
                    <h5 class="text-white">Address</h5>
                    <p>Syria, Suwayda, Kanawat Street, Alammed Tower, 3rd_Floor </p>
                </div>
            </div>
            <div class="d-flex">
                <h4 class="fa fa-envelope fa-lg text-white pt-1">&nbsp;</h4>
                <div class="pl-3">
                    <h5 class="text-white">Email</h5>
                    <p>chamivs@chamivs.com</p>
                </div>
            </div>
            <div class="d-flex">
                <h4 class="fa fa-phone fa-lg text-white pt-1">&nbsp;</h4>
                <div class="pl-3">
                    <h5 class="text-white">Phone</h5>
                    <p>+971 52 753 5588</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <h4 class="text-white mb-4">Quick Links</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" id="home" href="/home"><i class="fa fa-home mr-2"></i>Home</a>
                <a class="text-white mb-2" id="about" href="/about"><i class="fa fa-info mr-2"></i>About Us</a>
                <a class="text-white mb-2" id="classes" href="#"><i class="fa fa-object-group mr-2"></i>Our Classes</a>
                <a class="text-white mb-2" id="teacher" href="#"><i class="fas fa-registered mr-2"></i>Our Teachers</a>
                <a class="text-white mb-2" id="blog" href="#"><i class="fa fa-meetup mr-2"></i>Our Blog</a>
                <a class="text-white mb-2" id="contact" href="#"><i class="fa fa-address-book mr-2"></i>Contact Us</a>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-3 pt-3" style="border-top: 1px solid rgb(5, 108, 204);">
        <p class="text-center text-white">
            &copy; <a class="text-outline font-weight-bold" style="color: #e8d943;" href="#">Cham International Virtual School</a>. All Rights
            Reserved.
        </p>
    </div>
    <!-- Back to Top -->
    <a href="" class="btn btn-outline px-4 back-to-top" style="color: #07456b; background-color: #e8d943;">Join Us</a>
</div>
<!-- Footer End -->